# Gradle
.gradle/
build/
.settings/
.project
.classpath

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.metadata/
bin/
tmp/
target/

# Spring Boot
!**/src/**/target/classes/
!**/src/**/target/generated-sources/
!**/src/**/target/generated-test-sources/
*.log
*.jar
*.war
*.zip
*.tar.gz

# Other
.DS_Store
Thumbs.db